/*
 * Styles for the.
 */

body {
  font: 12px Arial, Helvetica, sans-serif;
  margin:8px;
}


.grid_4 {
  background-color: rgba(255,0,0,.15);
}

.grid_8{
    background-color: rgba(255,0,0,.3);
}

h1{
  font-size: 16px;
  margin-bottom: 0;
  text-align: center;
}
.tb-cell{
 display:table-cell;
 float:none;
 border: 1px solid;
}

.cell-wrapper {
}

.cell-content{
  margin: 4px 4px 4px 5px;
}

.no-border-top {
  border-top: none;
}
.no-border-bottom {
  border-bottom: none;
}
.no-border-left {
  border-left: none;
}
.no-border-right {
  border-right: none;
}

#app-title{
  font-size: 18px;
  font-weight: bold;
}

.app-question{
  margin-bottom: 3px;
}

/* Question 3 & 4 */
#rowq-3-4{
  height:100px;
}

#rowq-3-4 #cell-3a,
#rowq-3-4 #cell-3b,
#rowq-3-4 #cell-4a,
#rowq-3-4 #cell-4b{
  height:48px;
  border-bottom: 1px solid;
}

#rowq-3-4 #cell-3b{
  position: relative;
  left: 320px;
  top: -53px;
}

#rowq-3-4 #cell-4a{
  position: relative;
  top: -54px;
  border-bottom:none;
}

#rowq-3-4 #cell-4b{
  position: relative;
  left: 320px;
  top: -107px;
  border-bottom:none;
}

/* Question 5 */
#rowq-5 {
  margin-left:5px;
}

/* Question 5a */
#rowq-5a{
  border-bottom: 1px solid;
}

/* Question 6 7 8 9 */
#rowq-6-7-8-9{

}

#rowq-6-7-8-9 #cell-6{
  border-bottom: 1px solid;
}

#rowq-6-7-8-9 #cell-7{
  position:relative;
  left: 480px;
  top: -42px;
}

#rowq-6-7-8-9 #cell-8{
  position:relative;
  top: -54px;
}

#rowq-6-7-8-9 #cell-9{
  position:relative;
  left: 480px;
  border-top: 1px solid;
}

/* Question 10 11 12 */
#rowq-10-11-12{
}

#rowq-10-11-12 #cell-10{
  border-bottom: 1px solid;
}

#rowq-10-11-12 #cell-11{
  position:relative;
  left: 480px;
  top: -42px;
}

#rowq-10-11-12 #cell-12{
  position:relative;
  top: -52px;
}

/* Question 15 */
#cell-15 .grid_3 {
  width:238px;
}
