/*
 * Styles for the Table Grid docs.
 */

body {
  font: 9px Arial, Helvetica, sans-serif;
  line-height: normal; 
}

h1 {
  font-size: 16px;
  text-align: center;
  margin-bottom:0;
}

/* Display utility classes */
.inline-block {
  display: inline-block;
}

/* Make it red for easy views */
.grid-example {
 
}
.grid-example .col {
  padding-top: 5px;
  
  padding-left: 5px;
  background-color: rgba(255,0,0,.15);
}
.grid-example .col:nth-child(odd) {
  background-color: rgba(255,0,0,.3);
}

/* Nested grid examples need outdenting because padding. */
.grid-example .grid-example {
  margin-top: 0;
  margin-bottom: 0;
}

.col-border {
  border: 1px solid #5C5C5C;
}

.col-no-border-left {
  border-left: none;
}

.col-no-border-right{
  border-right: none;
}

.col-no-border-top {
  border-top: none;
}
.col-no-border-bottom{
  border-bottom: none;
}

.grid-example .col-no-padding-left{
  padding-left:0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15{
  margin-left: 15px;
}
.app-title { 
  font-size: 18px;
  font-weight: bold;  
}

.app-question{
  margin-bottom: 4px;
}

.app-content {
  margin-bottom: 3px;
}

.app-fed-agency {
  font-size: 12px;
  font-weight: bold;
}

.box {
  border: 1px solid #5C5C5C;
}

.checked-box {
  border: 1px solid #5C5C5C;
  display:inline-block;
  padding-left:3px;
  width:10px;
  height:10px;
  margin-right:5px;
}
.empty-box {
  border: 1px solid #5C5C5C;
  display:inline-block;
  padding-left:3px;
  width:10px;
  height:10px;
  margin-right:5px;
}

.money {
  display: inline-block;
  text-align: right;
  width: 65px;
}

.box-width{
  display: inline-block;
  width: 145px;
}
