/*
 * Styles for the Table Grid docs.
 */

body {
  font: 10px Arial, Helvetica, sans-serif;
  line-height: normal; 
}



h1 {
  font-size: 16px;
  text-align: center;
  margin-bottom:0;
}

/* Display utility classes */
.inline-block {
  display: inline-block;
}


/* Make it red for easy views */
.grid-example {
 
}
.grid-example .col {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: rgba(255,0,0,.15);
}
.grid-example .col:nth-child(odd) {
  background-color: rgba(255,0,0,.3);
}

/* Nested grid examples need outdenting because padding. */
.grid-example .grid-example {
  margin-top: 0;
  margin-bottom: 0;
}

.col-border {
  border: solid 1px #3C3C3C;
}

.col-no-border-left {
  border-left: none;
}

.col-no-border-right{
  border-right: none;
}

.col-no-border-top {
  border-top: none;
}
.col-no-border-bottom{
  border-bottom: none;
}

.grid-example .col-no-padding-left{
  padding-left:0;
}

.app-title { 
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
.app-question{
  text-transform: uppercase;
  margin-bottom:5px;
}

.app-content {

}
